@import url('../../styles/reset.css');

body{
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
    font-family: 'Mulish';
}

.dashbaord_container{
    display: flex;
    min-height: 100vh;
}

.main_content{
    flex-grow: 1;
}