@import url('./fonts/fonts.css');

:root{
    /*Colors*/
    --primary-color: #2A2730;
    --secondary-color: #272D3C;
    --terceary-color: #333948;

    /*Text*/
    --light-text-color: #e0e0e0;
    --dark-text-color: #404040;
        /* Select Color */
        --bg-select-color: #4800FF;
        --text-select-color: #8FA8FF;

    /*Fonts*/
        /*Size*/
        --small-font-size: 0.9rem;
        --medium-font-size: 1.05rem;
        --high-font-size: 2rem;
        /*Weight*/
        --small-font-weight: 200;
        --medium-font-weight: 400;
        --high-font-weight: 600;


    /*Border*/
    /*Radius*/
    --default-border-radius: 5px;
}